.notification {
  display: block;
  padding: 10px;
  background-color: lightgrey;
  border-style: solid;
  border-width: 2px;

  border-color: green;
  color: green;
}

.notification.error {
  border-color: red;
  color: red;
}